$color-primary-nav: #f7f7f7;
$color-secondary-nav: #000;

$color-grey: #7b7b7b;
$color-blue-light: #0DACE8;
$color-white: #fff;

$background-color-left: #F7E14B;
$color-grey-blue: #087182;
$color-btn: #05c34e;

$color-paragraph: #f00;
$color-sale-btn: #ffd51a;